@keyframes sign {
  from {
    stroke-dashoffset: 2091;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillin {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

#welcomesig {
  stroke-dasharray: 2091;
  animation: sign 20s ease-out, fillin 3s ease-in;
}

.qualitycontainer {
  background: url(../../resources/Done.gif) repeat-x #20568f;
  background-size: contain;
}

@media screen and (max-width: 930px) {
  .qualitycontainer {
    background-size: cover;
  }
}
