@font-face {
  font-family: ReallyAwesome;
  src: url(./resources/fonts/ReallyAwesome.ttf);
}

@font-face {
  font-family: noto-serif;
  src: url(./resources/fonts/notoserif/NotoSerif-Regular.ttf);
}

@font-face {
  font-family: calibre;
  src: url(./resources/fonts/Calibre/test-calibre-regular.woff2);
}

@font-face {
  font-family: Bubble Rainbow;
  src: url(./resources/fonts/Bubble\ Rainbow.ttf);
}

@font-face {
  font-family: Balsamiq;
  src: url(./resources//fonts/balsamiq/BalsamiqSans-Regular.ttf);
}

body {
  background-color: #faebd7;
  /* font-family: calibre; */
  margin: 0;
  height: 100%;
  font-family: Balsamiq;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1s;
}