@font-face {
  font-family: ReallyAwesome;
  src: url(./resources/fonts/ReallyAwesome.ttf);
}

@font-face {
  font-family: noto-serif;
  src: url(./resources/fonts/notoserif/NotoSerif-Regular.ttf);
}

body {
  font-family: noto-serif;
  margin: 0;
  height: 100%;
}